@mixin code-box {
  /* 公共样式 */
  div {
    line-height: 1.9;
  }

  /* 代码块容器样式（框体效果） */
  pre {
    /* 基础框体样式 */
    background-color: var(--code-bgc);
    border: 1px solid var(--light-border-color-1);
    border-radius: 6px;
    margin: 16px 0;
    // padding: 1em;
    overflow-x: auto;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  }

  /* 代码块内文本样式 */
  pre code {
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 14px;
    color: #24292e;
    background-color: var(--code-bgc);
    margin: 0px 10px 10px 10px;
  }

  /* 行内代码样式（与块级代码区分） */
  p code,
  li code {
    background-color: var(--code-bgc);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  }

  // 文本样式
  /* 列表样式（有序/无序列表） */
  ul,
  ol {
    // margin: 0 0 16px;
    padding-left: 18px; /* 左侧缩进，预留列表符号位置 */
  }

  ul {
    list-style-type: none; /* 无序列表默认圆点 */
  }

  ol {
    list-style-type: decimal; /* 有序列表默认数字 */
  }

  ul li::before {
    content: ""; /* 圆点符号（也可用其他符号如 "●"） */
    // color: var(--text-color-4); /* 自定义颜色（这里用谷歌红示例） */
    // font-weight: bold; /* 加粗圆点 */
    display: inline-block;
    // padding-bottom: 10px;
    width: 6px; /* 固定宽度，确保对齐 */
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-color-4);
    margin: 0 12px 2px -15px;
  }

  ol li::marker {
    color: var(--text-color-3); /* 序号颜色（示例为深紫色） */
    font-weight: bold; /* 可选：加粗序号 */
    font-size: 0.9em;
  }

  a {
    color: var(--main-color); /* 链接蓝色 */
    text-decoration: none; /* 取消默认下划线 */
  }

  // 代码块头部
  .code-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    padding: 5px 16px;
    height: 40px;
    // border-radius: 6px;

    .copy-btn {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      .icon {
        width: 15px;
        height: 15px;
      }

      &:hover {
        background-color: var(--light-border-color-2);
      }
    }
  }

  @media (max-aspect-ratio: 1/1) {
    div {
      line-height: 1.65;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1.15rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5 {
      font-size: 1.05rem;
    }

    h6 {
      font-size: 1rem;
    }
  }
}
